:root {
  --background: #ffffff;
  --foreground: #020202;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020202;
    --foreground: #ffffff;
  }
}

html {
  scroll-behavior: manual;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
