.container {
  width: 100%;
  margin-top: 1rem;
  /* Animação suave de entrada */
  animation: slideDown 0.3s ease-out forwards;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem;
  border-radius: 22px;
  text-decoration: none;
  transition: background 0.2s;
}

.item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.imageWrapper {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
  background: #000;
  flex-shrink: 0;
  border: 1px solid rgba(255,255,255,0.1);
  display: flex;
  justify-content: center;
}

.img {
  object-fit: contain;
  width: 80%;
  
  background-repeat: no-repeat;
  background-position: center;

}

.placeholder {
  width: 100%;
  height: 100%;
  background: #222;
}

.info {
  display: flex;
  flex-direction: column;
}

.title {
  color: #fff;
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 1.2;
}

.status {
  color: #888;
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem 0;
}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}